#experience-title {
    text-align: center;
}

#experience-place {
    text-align: center;
}

#experience-dates {
    text-align: center;
}

#experience-description {
    text-align: justify;
    text-decoration: none;

}